.idea/
app/etc/local*
app/locale
downloader/
get.php
includes/
index.php
media/
package.xml
pkginfo/
shell/
skin/install
var/
*.DS_Store
influencer/uploads/
influencer/*.txt
magmi/
landing/
MagmiImport/
tmp/